/* -----------------------------------------------------------------------------

Styles

------------------------------------------------------------------------------*/

@import './partials/_variables';
@import './partials/_mixins';
@import './partials/_reset';
@import './partials/_base';
@import './partials/_typography';
@import './partials/_grid';
@import './partials/_buttons';
@import './partials/_helpers';

body {
    max-width: 780px;
    margin: 0 auto;
    background-color: #F5F4F2;
}

.App {
    margin-top: 2rem;
}

.logo {
    position: fixed;
    top: 10px;
    width: 50px;
    height: 50px;
    margin-left: -60px;
}

.memo {
    margin-bottom: 3rem;
    background-color: white;
    border-radius: 2px;
    word-break: break-word;

    header {
        padding: 2.3rem 3rem;
    }

    main {

    }

    .memo-url {
        margin-top: 2px;
        font-size: 1.4rem;
        color: #aab0bb;
    }

    .memo-add-note-button {
        display: block;
        width: 100%;
        padding: 2rem 3rem;
        text-align: left;
        cursor: pointer;
        background: #ffffff;
        border: none;
        outline: none;

        -webkit-appearance: none;
    }

    .delete-button-wrap {
        position: absolute;
        top: 0;
        right: 0;

        .delete-button {
            float: right;
            width: 4.5rem;
            height: 4.5rem;
            font-size: 2rem;
            font-weight: 300;
            color: #635f5f;
            cursor: pointer;
            background: transparent;
            border: none;
            outline: none;
            transform: rotateZ(45deg);
            transition: color 0.3s;

            -webkit-appearance: none;

            &:hover {
                color: black;
            }

        }



        &--note {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 100%;
            font-size: 1.2rem;
            font-weight: 100;
        }
    }
}

.note {
    position: relative;
    padding: 2rem 3rem;
    background-color: #dba0ff3b;
    border-bottom: 1px solid #ffffff;

    &:last-of-type {
        border: none;
    }

    &.isEditing {
        padding: 0;
        background: #ffffff;

        form {
            display: flex;

            flex-direction: column;
            align-items: flex-end;
        }

        footer {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 2rem 3rem;
            justify-content: flex-end;

            .delete {
                flex: 1;
                position: relative;
                left: -25px;                
            }
        }
    }

    .textarea {
        display: block;
        width: 100%;
        min-height: 100px;
        padding: 2rem 3rem;
        font-size: 1.35rem;
        font-weight: 100;
        background: #fafafa;
        border-style: none;
        outline: none;
    }
}

.create-memo {

    header {
        display: flex;

        flex-direction: column;
        align-items: flex-end;
    }

    .create-memo-title,
    .create-memo-url {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #eee;
        outline: none;
    }

    .create-memo-button {
        margin-top: 4rem;
    }

}

.filter {
    margin-bottom: 3rem;
}

.confirmWrap {
    position: absolute;
    top: 7px;
    left: -100px;
    padding: 5px 2px 6px 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 3px;

    &:before {
        position: absolute;
        top: 10px;
        right: -6px;
        width: 10px;
        height: 10px;
        background: white;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        content: "";
        transform: rotateZ(-45deg);
    }

    button {
        border-radius: 3px;
        outline: none;
    }

    p {
        display: inline;
        margin-right: 7px;
        font-size: 1.2rem;
        color: #333;
    }
}


.slide-enter {
    opacity: 0;
    transition: all 1s;
}
.slider-enter-active {
    opacity: 1
}
